<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

</head>
<body>
    <div>
        <div class="xx_shop">
            <div class="xx_shop_title">
                <div>
                    <p>
                        商品详情
                    </p>
                </div>
            </div>
            <!-- 详情结束 -->
            <div class="xx_shop_banner">
                <div class="img">
                    <img src="" alt="">
                </div>
            </div>
            <!--轮播图结束-->
            <!-- 商品name -->
            <div class="xx_shop_list">
                <div class="title">
                    <h2>产品介绍</h2>
                    <p>名字产品的规格</p>
                </div>  
                <div class="xx_shop_price">
                    <div class="market_price">
                        <p>商城价格</p><span>￥</span>
                    </div>
                    <div class="dowm_price">
                        <p>优享会员价格</p><<span>￥</span>
                    </div>
                </div>
                <ul>
                    <li>次日达</li>
                    <li>
                        实付满69包邮
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>